.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        = current_user.name
      .top-items__icons
        = link_to new_group_path, class: "icon" do
          = icon('far', 'edit')
        = link_to edit_user_path(current_user), class: "icon" do
          = icon('fas', 'cog')
  .side-bar__group-list
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group.id) do
          .group__name
            = group.name
          .group__new-message
            = group.show_last_message
            -# - if group.messages.length > 0
            -#   = group.messages[group.messages.length - 1].body
            -# - else
            -#   まだ新着メッセージはありません
